.service-container .fas {
    /* border: 1px solid red; */
    background-color: #252934;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transform: rotate(45deg);
    color: #f6004c;
    
}

.hide-slide{
    display: none;
}
/* .display-slide{
    display: block;
} */

.singleService .singleService-text{
  font-size: 10px !important;
  line-height: 1.2rem !important;
}
.my-service-container{
    width: 790px;
    /* width: 150%; */
    margin: auto;
    overflow: hidden;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* border: 1px solid rgba(236, 240, 241, 1); */
    
}

.singleService{
    border: 1px solid rgba(236, 240, 241, 1);
    border: 0.2px solid rgba(236, 240, 241, 0.2);
    height: 170px;
    /* padding-left: 50px !important;
    padding-right: 50px !important;
    position: relative; */
    width: 35%;
}
.body-hr{
    border: 0;
    height: 0;
    border-top: 1px solid #eeeeee26;
}

@media only screen and (max-width: 800px){
    .my-service-container{
        width: 93.5%;
    }
}

@media only screen and (max-width: 400px){
    .my-service-container{
        width: 90%;
        overflow: hidden;
    }
}