.service-container .fas {
    /* border: 1px solid red; */
    background-color: #252934;
    padding: 10px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    transform: rotate(45deg);
    color: #f6004c;
    text-align: center;
}
/* .service-container{
    overflow: hidden;
} */

.hide-slide{
    display: none;
}
/* .display-slide{
    display: block;
} */

.singleService .singleService-text{
  font-size: 10px !important;
  line-height: 1.2rem !important;
}
.my-service-container{
    width: 790px;
    width: 100%;
    /* width: 150%; */
    margin: auto;
    /* overflow: hidden; */
    /* border: 1px solid red; */
    height: 50%;
    border-radius: 10px;
    /* border: 1px solid rgba(236, 240, 241, 1); */
    /* float: left !important;
    display: flex;
    justify-content: center; */
}
.transitionEffect{
    transform: translate3d(-1140px, 0px, 0px);
    transition: all 1s ease 0s;
    width: 4560px;
    overflow: hidden;
}

.singleService{
    border: 1px solid rgba(236, 240, 241, 1);
    border: 0.2px solid rgba(236, 240, 241, 0.2);
    height: 180px;
    width: 90% !important;
    text-align: center;
    color: #fff !important;
    border-radius: 20px;
    background-color: #111;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 10px; */
}
.slick-dots li button{
    /* background: #fff !important; */
    color: #fff !important;
}
.body-hr{
    border: 0;
    height: 0;
    border-top: 1px solid #eeeeee26;
}

@media only screen and (max-width: 800px){
    .my-service-container{
        width: 93.5%;
    }
}

@media only screen and (max-width: 400px){
    .my-service-container{
        width: 90%;
        overflow: hidden;
    }
}

.displayServiceBlock{
    display: block !important;
    transition: all 1s ease 0s;
}
.hideServiceBlock{
    display: none;
    transition: all 1s ease 0s;
}
.smoothTransition{
    transition: all 1s ease 0s;
}