.accentHighlight{
    color: #6957af;
}
.titleBig{
    font-size: 110px;
    font-size: 6rem;
    color: rgba(255, 255, 255, 0.07);
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    margin: auto;
}
.titleSmall{
    font-size: 56px;
    font-size: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 10vh;
    margin: auto;
}
.h1{
    margin-bottom: 0px;
}
.title-div-container{
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
}
