
#about{
    height: 140vh;
    height: 800px;
    width: 100%;
    max-width: 100vw;
    background-color: #40434e75;
    background: #232526;  
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526); 

    font-size: 20px;
    z-index: 1;
    position: sticky;
    top: 0px;
    /* opacity: 0.3; */
    transition: opacity 0.3s;
    overflow: hidden !important;
}
#about .container{
    padding-top: 10px;
    width: 90%;
    margin: auto;
}
#about .container h1{
    text-align: center;
    font-size: 40px;
}
#about .container .about-hr{
    width: 15%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
    margin-top: 20px;
}
#about .main-content{
    display: flex;
    justify-content: space-between;
    padding-right: 11%;

}
.about-pic{
    background-image: url('https://johnnsonkp-dev.herokuapp.com/images/pic2.png');
    /* background-image: url('profile-pic-crop.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    max-width: 1100px;
    height: 16vw;
    border-radius: 200px;
    border: 3px solid #6957af;
    margin-top: 60px;
    margin-bottom: 30px;
}
#about .about-me-container{
    /* border-radius: 15px; */
    border: 1px solid red;
    border: 1px solid #25293450;
    background-color: #25293450;
    background-color: #111;
    color: #fff;
    border: 0.2px solid rgba(236, 240, 241, 0.2);
    width: 38%;
    margin-right: 3%;
    padding: 10px 10px 0px 10px;
    margin-bottom: 0px;

    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: 100vh;
    margin: auto;
}
#about .resume-button{
    border: solid 1px #f6004c; 
    background: transparent;
    border-radius: 10px;
    font-size: 18px;
    border-radius: 18px;
    width: 80%;
    width: 92%;
    margin: auto;
    display: block;
    text-align: center;
    padding: 8px 0px;
}
#about .resume-button:hover{
    background: #f6004c;
}
#about .container .mini-header{
    font-size: 17px;
    margin-top: 0px;
}
.tech-stack hr{
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff, rgba(0, 0, 0, 0));
}
#about .container p{
    font-size: 16px;
    font-size: 1.2vw;
    line-height: 2rem;
    font-weight: 600;
}
#about .container .dev-tools h5{
    font-size: 11px;
    font-size: 0.6rem;
    margin-top: 4px;
    margin-bottom: 0px;
}
.about-hr{
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.right{
    margin-left: 25%;
    width: 75%;
}
.right .serviceHeader{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.dev-tools{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 1vw;
}
.tech i{
    border-radius: 25px;
    padding: 8px 10px;
    padding: 0.8vw;
    margin-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.3rem;
    background: #252934;
    color: #f6004c;
}
.tech-stack{
    padding: 20px 15px;
    padding: 5% 6%;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eeeeee26;

}
.tech {
    height: 5vw;
    width: 4vw;
}
.tech .fa-html5{
    color: rgb(254 94 5) !important;
}
.tech .fa-css3{
    color: rgb(97 97 238) !important;
}
.tech .fa-js{
    color: rgb(215 215 1) !important;
}
.tech .fa-gem{
    color: rgb(170 29 29) !important;
}
.tech .fa-react{
    color: rgb(138 213 238) !important;
}
.tech .fa-shopify{
    color: rgb(96 199 96) !important;
}
.tech .fa-wordpress{
    color: #256b91 !important;
}
.tech .fa-php{ 
    color: rgb(118, 83, 247);
}
@media only screen and (min-width: 1500px){
    #about{
        width: 100vw;
        height: 1400px;
    }
    #about .right{
        width: 55% !important;
        margin: auto;
        margin-right: 15%;
    }
    #about .right p{
        line-height: 40px;
    }
    #about .titleBig{
        left: 0%;
    }
    #about .circles{
        height: 290px !important;
        top: 10%;
        left: 78% !important;
    }
    #about .about-me-container{
        width: 18%;
    }
    #about .about-me-container .about-pic{
        width: 80%;
        height: 14vw;
        border-radius: 350px;
    }
    #about .singleService{
        height: 18vh !important;
        width: 30% !important;
        padding-bottom: 20% ;
    }
    #about .singleService p{
        font-size: 1.1rem !important;
        line-height: 29px !important;
    }
    #about .tech-stack {
        padding: 10px 10px;
        padding: 5% 6%;
        border-radius: 10px;
        width: 68%;
        margin: 20px auto;
        border: 1px solid #eeeeee26;
    }
    #about .resume-button{
        width: 80%;
    }
    
}
/* Title positioning */
#about-section .titleBig{
    position: relative;
    left: 6%; 
}
#about-section .titleSmall{
    top: 75px;
    left: 12%;
}


/* Media queries  */
@media only screen and (max-width: 1000px){
    #about .about-me-container{
        display: none;
    }
    #about-section .titleBig{
        left: 0%; 
        font-size: 5rem;
    }
    #about-section .titleSmall{
        left: 0%;
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 400px){
    #about-section .titleBig{
        left: 0%; 
        font-size: 3.5rem;
    }
    #about-section .titleSmall{
        left: 0%;
        font-size: 2rem;
        top: 60px;
    }
}


@media only screen and (max-width: 1400px) and (min-width: 1001px){
    #about{
        
        height: 900px !important;
        width: 100%;
        max-width: 3000px;
        overflow: hidden !important;
        /* border: 1px solid red; */
    }
    .my-service-container{
        /* overflow: visible !important;
        height: 33%; */
    }
    .singleService{  
        padding: 0px !important;
        padding-top: 10px !important;
    }
    .service{
        display: none;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 601px){
    #about{
        position: relative !important;
        height: 900px !important;
        width: 100%;
        max-width: 1000px;
        overflow: hidden !important;
        /* border: 1px solid red; */
    }
    #about .container{
        width: 90%;
        margin: auto;
        /* border: 1px solid red; */
    }
    #about .main-content{
        width: 100%;
        margin: auto;
    }
    #about .container p{
        font-size: 1rem;
    }
    #about .right{
        margin-left: 0% !important;
        width: 85%;
    }
    #about .circles{
        top: 15%;
        left: 88%;
        height: 300px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 401px){
    #about{
        height: 900px !important;
        width: 98%;
        max-width: 500px;
        overflow: hidden !important;
        /* border: 1px solid red; */
    } 
    #about .main-content{
        width: 100%;
        margin: auto;
    }
    #about .container p{
        font-size: 1rem;
    }
    #about .container{
        width: 98%;
        /* border: 1px solid yellow; */
    }
    #about .container .text{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (max-width: 400px){
    #about{
        position: relative;
        height: 900px !important;
        width: 100%;
        max-width: 400px;
        overflow: hidden !important;
        /* border: 1px solid red; */
    }
    #about .main-content{
        width: 100%;
    }
    #about .container{
        width: 98%;
        /* border: 1px solid yellow; */
    }
    #about .container p{
        font-size: 1rem;
    }
    #about .container .text{
        width: 95%;
        margin: auto;
        /* border: 1px solid green; */
    }
    
    

}