body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #928DAB, #1F1C2C, #434343, #302b63);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite; */
}

.gradientBanner {
  /* background: linear-gradient(-45deg, #a960ee, #ff333d,#90e0ff, #ffcb57);
  background: linear-gradient(-45deg, #a960ee, #23d5ab,#90e0ff, #ffcb57);
    background-size: 300% 300%; */
    -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;

  background: linear-gradient(
            45deg
            , #4CBFC7 0%, #787DFF 100%);
                background-size: 512px, cover;
                background-position: center, 0% 0%;
                background-repeat: repeat, repeat;
                background-size: 130% 130%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* ----------------------------------------------------- */
body {
  overflow-x: hidden;
  margin: 0;
  color: #fff;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  z-index: 2;
  background-color: #111111;
}

body a, head a {
  text-decoration: none;
  color: #fff;
}

#home-section {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* height: 800px; */
  /* position: -webkit-sticky;
  position: sticky; */
  /* top: 0px; */
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-bottom: 20px;
}

.blur {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: blur(14px);
          filter: blur(14px);
  transition: filter 0.3s ease-in-out;
}

#home-section .block {
  z-index: 1;
  height: 1080px;
  width: 450px;
  background-color: #111111;
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
  position: relative;
  top: -40px;
  left: -115px;
}

/* #home-section .circle {
  border-radius: 180px;
  border: 3px solid #6957af;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 12%;
  z-index: 1;
  cursor: pointer;
}

#home-section .outer-circle {
  background-color: #111;
  margin-left: 11%
}

#home-section .outer-circle img {
  height: 350px;
  width: 350px;
}

#home-section .outer-circle img:hover {
  background-color: rgba(105, 87, 175, 0.2);
  border: 3px solid #6957af;
  background-blend-mode: screen;
  background-blend-mode: overlay;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
            box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
            box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
  }
}

.pulseDayNight {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
} */

#home-section .content {
  position: absolute;
  z-index: 2;
  top: 28%;
  top: 12%;
  left: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 53%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  top: 0%;
  color: #111;
}

.main-header {
  margin-top: 0px;
}

#home-section .content .text-content {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home-section .content h4 {
  font-size: 23px;
  margin-bottom: 0px;
  font-weight: normal;
}

#home-section .content h2 {
  font-size: 30px;
  margin-top: 5px;
  font-weight: bold;
}

#home-section .content p {
  /* font-weight: normal; */
  font-size: 18px;
  line-height: 33px;
  width: 100%;
  /* line-height: 2.3rem;
    font-weight: 600; */

    font-size: 1.2vw;
    line-height: 2rem;
    font-weight: 600;
}

#home-section .content .title-flrkr {
  font-size: 3rem;
  font-weight: bolder;
  color: #6957af;
  padding-top: 7px;
}

#home-section .content .view-my-work-btn {
  color: #fff;
  background-color: #6957af;
  border: 2px solid rgba(105, 87, 175, 0.4);
  border-radius: 18px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  max-width: 120px;
}

#home-section .content .view-my-work-btn:hover {
  background-color: rgba(105, 87, 175, 0.5);
  background-color: #6957af;
  background-color: #fff;
  color: #6957af;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 62px;
  padding-right: 62px;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.5%;
  position: absolute !important;
  top: 12% !important;
  left: 91%;
  z-index: 2 !important;
  background-color: #80808044;
  padding: 7px;
  border-radius: 20px;
}

.circles .inner-circle {
  background-color: #111111;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  padding: 10px;
  z-index: 9000 !important;
}

.circles .img {
  -webkit-filter: invert(100%) sepia(45%) saturate(2%) hue-rotate(157deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(45%) saturate(2%) hue-rotate(157deg) brightness(117%) contrast(100%);
  width: 17px;
  margin: 0px;
  z-index: 9000 !important;
}

.circles i {
  background-color: #111111;
  border-radius: 50px;
  z-index: 9000 !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hideCircles {
  display: hidden;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

.showCircles {
  display: visible;
  overflow: hidden;
  height: 100%;
  max-height: 260px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.inner-circle:hover {
  background-color: #6957af;
  cursor: pointer;
}

.light {
  position: fixed;
  top: 90%;
  left: 5%;
  z-index: 1;
  height: 10px;
  width: 10px;
  background-image: url("http://rainbowit.net/themes/trydo/wp-content/themes/trydo/assets/images/icons/sun-01.svg");
  background-position: center center;
  background-size: cover;
  background-color: #191919;
  border: 8px solid #191919;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.dark {
  position: fixed;
  top: 90%;
  left: 5%;
  z-index: 1;
  height: 10px;
  width: 10px;
  background-image: url("http://rainbowit.net/themes/trydo/wp-content/themes/trydo/assets/images/icons/vector.svg");
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  border: 8px solid #fff;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.hidden {
  width: 6rem !important;
  -webkit-transition: width 1s ease-in-out !important;
  transition: width 1s ease-in-out !important;
  overflow: hidden !important;
  -webkit-transition: display 10s;
  transition: display 10s;
}

.hidden .title-flrkr {
  width: 0px;
}

.transition-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 550px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  white-space: nowrap;
  font-size: 3rem !important;
}

.transition-title .title-flrkr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0px;
  padding-left: 0px;
}

.divider {
  display: block !important;
}

.text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  width: 110px;
  width: 90px;
}

.accent-color {
  background-color: rgba(105, 87, 175, 0.7);
}

.secondary-color {
  background-color: #111111;
}

.activeClick {
  background-color: rgba(105, 87, 175, 0.7) !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.nonActiveClick {
  background-color: #111 !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.circles a img {
  background-color: transparent !important;
  overflow: hidden !important;
}

.allProjects {
  background-color: #fff !important;
  color: #111 !important;
}

.professionalProjects {
  background-color: #fff !important;
  color: #111 !important;
}

.designProjects {
  background-color: #fff !important;
  color: #111 !important;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

#blogSection .blog-container:hover {
  overflow: hidden;
  overflow: hidden;
}

#blogSection .blog-container:hover .blog-pic {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  overflow: hidden;
}

#blogSection .blog-container:hover h4 {
  color: #6957af;
}

.LightColor {
  background: #ECE9E6 !important;
  background: -webkit-gradient(linear, left top, right top, from(#F4F4F4), to(#e7ded5)) !important;
  background: linear-gradient(to right, #F4F4F4, #e7ded5) !important;
}

.darkColor {
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#414345), to(#232526));
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 900px) {
  .circles {
    top: 4% !important;
    left: 67%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showCircles {
    height: 80%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .circles {
    top: 4% !important;
    left: 80%;
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showCircles {
    height: 90%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50%;
  }
  .circles .img {
    width: 30px;
  }
}

@media only screen and (max-width: 700px) {
  #home-section {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .circles {
    left: 108%;
    top: 18% !important;
  }
  #home-section .circles {
    left: 20% !important;
  }
}

@media only screen and (max-width: 500px) {
  .circles {
    left: 115%;
  }
}

@media only screen and (max-width: 450px) {
  .circles {
    left: 125%;
  }
}

@media only screen and (max-width: 400px) {
  .circles {
    left: 135%;
  }
}

@media only screen and (max-width: 370px) {
  .circles {
    left: 140%;
  }
}

@media only screen and (max-width: 340px) {
  .circles {
    left: 150%;
    height: 400px;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  #home-section {
    max-width: 1600px;
    margin: auto;
    height: 900px;
    overflow: visible !important;
  }
  #home-section .block {
    width: 1400px;
    height: 1800px;
    position: absolute;
    left: -850px;
  }
}
/* @media only screen and (max-width: 1280px) and (min-width: 1000px){
  #home-section .circle{
    left: %;
    margin-right: 20% !important;
  }
} */
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .transition-title {
    font-size: 2.5rem !important;
  }
  .hidden {
    width: 4rem !important;
  }
  .content p {
    font-size: 1.6vw !important;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1001px) {
  #home-section {
    max-width: 100%;
    width: 100%;
    margin: auto;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; */
    overflow: visible !important;
  }
  #home-section .block {
    top: -70px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 801px) {
  #home-section {
    width: 100% !important;
  }
  #home-section .circle {
    position: absolute;
    top: 15%;
    left: 3%;
    height: 330px;
    width: 330px;
    border-radius: 50%;
  }
  #home-section .circles {
    position: absolute;
    top: 3% !important;
    left: 83% !important;
  }
  #home-section .circles {
    position: absolute;
    top: 5% !important;
    left: 83% !important;
  }
  #home-section .content {
    width: 70vw;
    height: 20vh;
    top: 49%;
    left: 20%;
  }
  #home-section .block {
    display: none;
  }
  .showCircles {
    height: 350px !important;
    max-height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5%;
  }
}
@media only screen and (max-width: 700px) {
  #home-section .circle{
    margin: auto;
    position: absolute;
    top: 50; left: 0; bottom: 50; right: 0;
    opacity: 0.4;
    height: 300px !important;
    width: 300px !important;;
  }
}
@media only screen and (max-width: 800px) and (min-width: 700px){
  #home-section .circle {
    height: 250px !important;
    width: 250px !important;
  }
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
  #home-section {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    position: relative !important;
    overflow: visible;
  }
  #home-section .block {
    top: -100px;
  }
  #home-section .circle {
    position: absolute;
    top: 5%;
    left: 2%;
    /* height: 250px !important;
    width: 250px !important; */
    border-radius: 290px;
  }
  #home-section .content {
    width: 80%;
    top: 40%;
    left: 4%;
    color: #fff;
  }
  #home-section .content p {
    background-color: #111;
    font-size: 2vw;
  }
  #home-section .circles {
    top: 5% !important;
    left: 85vw !important;
    height: 300px;
  }
  #home-section .content .view-my-work-btn {
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 800px;
    margin: 25px 0px;
  }
}

@media only screen and (max-width: 600px) and (min-width: 401px) {
  #home-section {
    /* position: relative !important; */
    height: 100%;
    width: 98% !important;
    max-width: 600px;
    overflow: hidden !important;
  }
  #home-section .block {
    display: block;
  }
  #home-section .circle {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 250px !important;
    width: 250px !important;
    border-radius: 290px;
  }
  #home-section .content {
    width: 98%;
    max-width: 550px;
    top: 40%;
    left: 5%;
  }
  #home-section .content .text-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff !important;
  }
  #home-section .content .text-content p {
    font-size: 1rem;
    background-color: #111;
  }
  .circles .img {
    width: 18px !important;
  }
  .showCircles {
    height: 100% !important;
    max-height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 0%;
  }
  #home-section .circles {
    position: absolute;
    top: 3% !important;
    left: 80vw !important;
    height: 260px !important;
  }
  #home-section .content .view-my-work-btn {
    font-size: 15px;
    padding-left: 35%;
    padding-right: 10%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 800px;
    margin-top: 25px;
  }
  .transition-title {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #home-section {
    height: 100%;
    width: 100%;
    max-width: 400px;
    overflow: hidden !important;
  }
  #home-section .content .view-my-work-btn {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 0%;
  }
  #home-section .circle {
    height: 280px !important;
    width: 280px !important;
    top: 5%;
    left: 5%;
  }
  #home-section .circles {
    display: none;
  }
  #home-section .content {
    width: 90%;
    margin: auto;
    top: 44%;
    left: 6%;
  }
  #home-section .content .text-content {
    width: 100%;
    color: #fff !important;
  }
  #home-section .content p {
    font-size: 1rem !important;
    line-height: normal;
    width: 100%;
    background-color: #111;
  }
  #home-section .content .view-my-work-btn {
    font-size: 15px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 250px;
    margin-top: 25px;
    padding-right: 50px;
    padding-left: 65px;
  }
  .transition-title {
    display: none;
  }
  #home-section .block {
    top: -65px;
    left: -190px;
  }
}

.removeAnimation {
  display: none !important;
}

@media screen and (max-width: 600px) {
  body, html {
    overflow-x: hidden !important;
  }
  #home-header {
    overflow-x: visible !important;
  }
}

.clickBlur {
  -webkit-transition: -webkit-filter 0.3s ease-in-out !important;
  transition: -webkit-filter 0.3s ease-in-out !important;
  transition: filter 0.3s ease-in-out !important;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out !important;
  -webkit-filter: grayscale(1) blur(100px) brightness(1.2) !important;
          filter: grayscale(1) blur(100px) brightness(1.2) !important;
  transition: filter 0.3s ease-in-out !important;
  z-index: 9000 !important;
}

.clickBlur .overlay-hidden {
  display: none;
  -webkit-transition: -webkit-filter 0.3s ease-in-out !important;
  transition: -webkit-filter 0.3s ease-in-out !important;
  transition: filter 0.3s ease-in-out !important;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out !important;
  -webkit-filter: grayscale(1) blur(200px) brightness(0.2) !important;
          filter: grayscale(1) blur(200px) brightness(0.2) !important;
}
/*# sourceMappingURL=Home.css.map */