body {
  background: #111111;
  width: 100%;
  min-width: 830px;
  overflow-x: hidden;
}

#home-section, #home-section {
  display: block;
  font-size: 52px;
}

#home-section::before, #home-section::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: screen;
  -webkit-animation: 44s -27s move infinite ease-in-out alternate;
          animation: 44s -27s move infinite ease-in-out alternate;
}

#home-section::before {
  text-shadow: 0.99081em 1.52327em 7px #0f57af, 1.55737em 1.91231em 7px #1957af, -0.48682em 1.98372em 7px #3a57af, 0.68391em 1.54088em 7px #1257af, 0.98776em 0.8416em 7px #5757af, 0.05105em 0.87605em 7px #5057af, 1.3705em 1.26161em 7px #5f57af, -0.2854em -0.292em 7px #2457af, -0.1462em 1.72302em 7px #2c57af, 0.31101em -0.29474em 7px #4b57af, 1.47233em 1.29805em 7px #1057af, 0.70556em 0.2653em 7px #2857af, 0.83426em 1.29384em 7px #3157af, 1.30988em 2.2559em 7px #2d57af, 1.58172em 1.66452em 7px #0857af, 2.00984em 0.67946em 7px #3e57af, 1.35258em 0.4873em 7px #2e57af, 1.94988em 2.4891em 7px #5557af, 2.49298em 2.36294em 7px #4357af, 2.41739em 0.68931em 7px #2f57af, -0.48543em -0.15858em 7px #0657af, 0.86492em 2.43582em 7px #5157af, 0.24383em 0.74719em 7px #6957af, -0.21745em 0.68847em 7px #0b57af, -0.42864em -0.48679em 7px #0157af, 2.1041em -0.06281em 7px #4657af, -0.45466em 2.19922em 7px #2557af, 1.34569em 2.25744em 7px #3c57af, 1.83607em 2.1939em 7px #5d57af, 1.73747em -0.00562em 7px #6557af, 0.71045em 0.97588em 7px #4357af, 0.44862em 0.70071em 7px #6857af, 1.78148em 2.38557em 7px #2e57af, -0.31344em 0.60703em 7px #4e57af, 0.89884em 0.99177em 7px #2f57af, 0.83963em -0.24298em 7px #0c57af, 1.70444em 0.69946em 7px #1a57af, 2.4035em 0.33728em 7px #3f57af, 2.49285em 1.03594em 7px #4457af, 0.82486em 0.50063em 7px #2657af, -0.36773em -0.02782em 7px #0457af;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
}

#home-section::after {
  text-shadow: 2.31384em 1.63932em 7px #6057af, -0.27809em -0.23329em 7px #1957af, 0.9471em -0.319em 7px #4b57af, 1.01651em 1.21302em 7px #2257af, 1.42717em 2.25088em 7px #0957af, 1.55534em 1.75251em 7px #6357af, 0.99162em 0.17882em 7px #0657af, -0.35389em -0.34973em 7px #4257af, 1.39294em 2.15989em 7px #2c57af, 1.53455em -0.16343em 7px #6457af, 1.55987em 0.65201em 7px #4657af, 0.09084em 1.87937em 7px #4357af, 1.84576em 1.77256em 7px #6157af, 1.77292em 1.59489em 7px #3b57af, 0.14061em 2.02009em 7px #4c57af, 1.28505em 2.15876em 7px #6857af, 1.19052em -0.19012em 7px #0e57af, 0.67348em 0.86699em 7px #6957af, 0.02719em 2.28154em 7px #5857af, 1.20467em 1.63032em 7px #1157af, 1.59622em 1.51253em 7px #2557af, 2.47799em 2.18385em 7px #2c57af, 2.36766em 2.20437em 7px #5357af, 0.71845em 0.50139em 7px #0e57af, 1.87369em 1.857em 7px #4857af, 1.64964em 0.99833em 7px #6057af, 0.11711em 1.81542em 7px #0d57af, 0.49487em -0.09732em 7px #4757af, -0.08702em 1.40847em 7px #5857af, -0.34342em 1.72468em 7px #5f57af, 2.11494em 1.30976em 7px #2a57af, 0.17315em 1.97943em 7px #5e57af, 1.49046em 1.07356em 7px #4157af, 2.28634em 0.50756em 7px #2057af, 1.29304em -0.49172em 7px #1a57af, 1.14672em 2.21833em 7px #3f57af, -0.2997em 1.83982em 7px #0c57af, 0.02311em -0.2565em 7px #0957af, 1.41854em 1.95914em 7px #5857af, 0.52274em 1.37548em 7px #3a57af, 1.77443em -0.42361em 7px #4257af;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
}

#home-section::before {
  text-shadow: 0.23282em 1.87117em 7px #1c57af, -0.39615em 2.0447em 7px #0c57af, 1.21573em -0.44729em 7px #0757af, 0.61357em 0.7751em 7px #0f57af, 0.54862em 1.66928em 7px #3657af, 0.58639em 1.55409em 7px #5b57af, 0.48935em 0.70144em 7px #1957af, 0.43395em 0.81935em 7px #4657af, 0.27652em 1.47243em 7px #4657af, 0.96869em 1.68812em 7px #1557af, 0.70853em 2.28548em 7px #1057af, 0.78308em -0.02892em 7px #2b57af, 0.98959em 1.30487em 7px #0657af, 0.69124em 1.25011em 7px #0a57af, 1.83594em -0.37142em 7px #4757af, 1.89509em 2.38042em 7px #4157af, -0.42726em 1.15492em 7px #2e57af, 1.50209em 1.41638em 7px #1f57af, 2.34234em 0.07337em 7px #0957af, 0.88425em 0.13965em 7px #3d57af, 2.11498em 1.49422em 7px #5357af, 1.39274em 0.12251em 7px #1157af, 1.80019em 0.32925em 7px #2757af, 1.5089em -0.49109em 7px #5457af, 0.67009em -0.20104em 7px #3757af, 1.32784em 1.18455em 7px #2b57af, 0.80046em -0.26628em 7px #0357af, 0.91307em 1.23423em 7px #3357af, 0.54848em -0.28961em 7px #4e57af, 1.28515em 1.51144em 7px #3057af, -0.27426em 0.0473em 7px #5c57af, 2.40137em -0.46286em 7px #4057af, 0.63286em 1.69231em 7px #0557af, 1.07338em 1.94677em 7px #2157af, 2.41731em 1.35301em 7px #0857af, 2.26011em 0.61846em 7px #4557af, 2.30045em 1.24762em 7px #4e57af, 1.74622em 0.97756em 7px #0e57af, 1.36784em 2.23887em 7px #4457af, 1.13916em 0.62317em 7px #6257af, 0.92778em 0.15834em 7px #3457af;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
}

#home-section::after {
  text-shadow: 0.76572em 0.08055em 7px #4757af, 2.10834em 1.73759em 7px #1657af, 1.10307em 0.13169em 7px #1357af, 0.05181em 0.94136em 7px #2e57af, 0.93593em -0.3853em 7px #6457af, 2.03201em 1.57189em 7px #4f57af, 2.20782em 0.24925em 7px #5157af, 0.74179em 0.50241em 7px #4f57af, 1.65462em 1.805em 7px #2d57af, 1.15499em 2.30689em 7px #1157af, 0.36795em 1.43023em 7px #5d57af, 1.78056em -0.48467em 7px #3057af, 2.1732em 1.79853em 7px #0657af, 1.72812em 0.34836em 7px #3657af, 2.07232em 1.70246em 7px #4a57af, 1.12271em 2.18598em 7px #5857af, -0.07724em 2.26223em 7px #6857af, 0.6221em 0.77761em 7px #1657af, 1.00843em 0.03606em 7px #1f57af, -0.06244em -0.13255em 7px #6657af, 1.62181em 1.06711em 7px #3557af, 0.42105em -0.49941em 7px #4957af, 0.5196em 1.27333em 7px #2a57af, 1.29454em -0.11065em 7px #1057af, 1.94744em 1.68746em 7px #3f57af, 2.14172em 1.57437em 7px #4557af, -0.32319em 1.23421em 7px #6457af, 1.1128em 2.46757em 7px #2b57af, 0.37322em 1.4775em 7px #0857af, 0.80289em 0.85162em 7px #2457af, 0.67308em -0.24292em 7px #2157af, 1.35374em 0.3501em 7px #0157af, 0.71044em -0.35321em 7px #1f57af, -0.28998em 2.42186em 7px #4457af, 2.43322em 0.17662em 7px #5457af, 0.67247em -0.02574em 7px #5857af, 0.03107em 0.24354em 7px #0257af, 1.77535em -0.16337em 7px #3757af, 1.78719em -0.22492em 7px #2f57af, 0.44603em -0.46826em 7px #3257af, 0.45136em 1.8202em 7px #2057af;
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
            transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
            transform: rotate(360deg) scale(18) translateX(20px);
  }
}

@keyframes move {
  from {
    -webkit-transform: rotate(0deg) scale(12) translateX(-20px);
            transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    -webkit-transform: rotate(360deg) scale(18) translateX(20px);
            transform: rotate(360deg) scale(18) translateX(20px);
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  z-index: 2;
  background-color: #111111;
}

body a, head a {
  text-decoration: none;
  color: #fff;
}

#home-section {
  width: 100vw;
  height: 100vh;
  height: 800px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.blur {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: blur(14px);
          filter: blur(14px);
  transition: filter 0.3s ease-in-out;
  background: #111;
}

#home-section .block {
  z-index: 1;
  height: 1080px;
  width: 450px;
  background-color: #111111;
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
  position: relative;
  top: -40px;
  left: -115px;
}

#home-section .circle {
  border-radius: 180px;
  border: 3px solid #6957af;
  background-color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 18%;
  left: 12%;
  z-index: 1;
  cursor: pointer;
}

#home-section .outer-circle {
  background-color: #111;
}

#home-section .outer-circle img {
  height: 350px;
  width: 350px;
}

#home-section .outer-circle img:hover {
  background-color: rgba(105, 87, 175, 0.2);
  border: 3px solid #6957af;
  background-blend-mode: screen;
  background-blend-mode: overlay;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
            box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.1);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
            box-shadow: 0 0 0 30px rgba(105, 87, 175, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
            box-shadow: 0 0 0 0 rgba(105, 87, 175, 0.3);
  }
}

.pulseDayNight {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

#home-section .content {
  position: absolute;
  z-index: 2;
  top: 28%;
  top: 18%;
  left: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 53%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header {
  margin-top: 0px;
}

#home-section .content .text-content {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home-section .content h4 {
  font-size: 23px;
  margin-bottom: 0px;
  font-weight: normal;
}

#home-section .content h2 {
  font-size: 30px;
  margin-top: 5px;
  font-weight: bold;
}

#home-section .content p {
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  width: 100%;
}

#home-section .content .title-flrkr {
  font-size: 3rem;
  font-weight: bolder;
  color: #6957af;
  padding-top: 7px;
}

#home-section .content .view-my-work-btn {
  color: #fff;
  background-color: #6957af;
  border: 2px solid rgba(105, 87, 175, 0.4);
  border-radius: 18px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  max-width: 120px;
}

#home-section .content .view-my-work-btn:hover {
  background-color: rgba(105, 87, 175, 0.5);
  background-color: #6957af;
  background-color: #fff;
  color: #6957af;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 62px;
  padding-right: 62px;
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.5%;
  position: absolute !important;
  top: 17% !important;
  left: 91%;
  z-index: 2 !important;
  background-color: #25293450;
  background-color: #cfd0d123;
  background-color: #80808044;
  padding: 7px;
  border-radius: 20px;
}

.circles .inner-circle {
  background-color: #111111;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  padding: 10px;
  z-index: 9000 !important;
}

.circles .img {
  -webkit-filter: invert(100%) sepia(45%) saturate(2%) hue-rotate(157deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(45%) saturate(2%) hue-rotate(157deg) brightness(117%) contrast(100%);
  width: 17px;
  margin: 0px;
  z-index: 9000 !important;
}

.circles i {
  background-color: #111111;
  border-radius: 50px;
  z-index: 9000 !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hideCircles {
  display: hidden;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

.showCircles {
  display: visible;
  overflow: hidden;
  height: 100%;
  max-height: 260px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.inner-circle:hover {
  background-color: #6957af;
  cursor: pointer;
}

.light {
  position: fixed;
  top: 90%;
  left: 5%;
  z-index: 1;
  height: 10px;
  width: 10px;
  background-image: url("http://rainbowit.net/themes/trydo/wp-content/themes/trydo/assets/images/icons/sun-01.svg");
  background-position: center center;
  background-size: cover;
  background-color: #191919;
  border: 8px solid #191919;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.dark {
  position: fixed;
  top: 90%;
  left: 5%;
  z-index: 1;
  height: 10px;
  width: 10px;
  background-image: url("http://rainbowit.net/themes/trydo/wp-content/themes/trydo/assets/images/icons/vector.svg");
  background-position: center center;
  background-size: cover;
  background-color: #fff;
  border: 8px solid #fff;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.hidden {
  width: 6rem !important;
  -webkit-transition: width 1s ease-in-out !important;
  transition: width 1s ease-in-out !important;
  overflow: hidden !important;
  -webkit-transition: display 10s;
  transition: display 10s;
}

.hidden .title-flrkr {
  margin-left: 50px;
  margin-left: 0px;
}

.transition-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 550px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  white-space: nowrap;
  font-size: 3rem !important;
}

.transition-title .title-flrkr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 0px;
  padding-left: 0px;
}

.divider {
  display: block !important;
}

.text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  width: 110px;
}

.accent-color {
  background-color: rgba(105, 87, 175, 0.7);
}

.secondary-color {
  background-color: #111111;
}

.activeClick {
  background-color: rgba(105, 87, 175, 0.7) !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.nonActiveClick {
  background-color: #111 !important;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.circles a img {
  background-color: transparent !important;
}

.allProjects {
  background-color: #f6004c !important;
  color: #fff !important;
}

.professionalProjects {
  background-color: #f6004c !important;
  color: #fff !important;
}

.designProjects {
  background-color: #f6004c !important;
  color: #fff !important;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

#blogSection .blog-container:hover {
  overflow: hidden;
  overflow: hidden;
}

#blogSection .blog-container:hover .blog-pic {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  overflow: hidden;
}

#blogSection .blog-container:hover h4 {
  color: #6957af;
}

.LightColor {
  background: #ECE9E6 !important;
  background: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#ECE9E6)) !important;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6) !important;
}

.darkColor {
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#414345), to(#232526));
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 900px) {
  .circles {
    top: 4% !important;
    left: 67%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showCircles {
    height: 80%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .circles {
    top: 4% !important;
    left: 80%;
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .showCircles {
    height: 90%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50%;
  }
  .circles .img {
    width: 30px;
  }
}

@media only screen and (max-width: 700px) {
  #home-section {
    position: relative;
  }
}

@media only screen and (max-width: 600px) {
  .circles {
    left: 108%;
    top: 18% !important;
  }
  #home-section .circles {
    left: 20% !important;
  }
}

@media only screen and (max-width: 500px) {
  .circles {
    left: 115%;
  }
}

@media only screen and (max-width: 450px) {
  .circles {
    left: 125%;
  }
}

@media only screen and (max-width: 400px) {
  .circles {
    left: 135%;
  }
}

@media only screen and (max-width: 370px) {
  .circles {
    left: 140%;
  }
}

@media only screen and (max-width: 340px) {
  .circles {
    left: 150%;
    height: 400px;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  #home-section {
    max-width: 1600px;
    margin: auto;
    height: 900px;
  }
  #home-section .block {
    width: 1400px;
    height: 1800px;
    position: absolute;
    left: -850px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .transition-title {
    font-size: 2.5rem !important;
  }
  .hidden {
    width: 4rem !important;
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  #home-section {
    max-width: 1600px;
    width: 98%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #home-section .circle {
    left: 10%;
  }
}

@media only screen and (max-width: 1000px) {
  #home-section {
    width: 900px;
  }
  #home-section .circle {
    position: absolute;
    top: 5%;
    left: 20%;
    height: 260px;
    height: 18vh;
    width: 250px;
    width: 25vw;
    border-radius: 50%;
  }
  #home-section .circles {
    position: absolute;
    top: 3% !important;
    left: 83% !important;
  }
  #home-section .circles {
    position: absolute;
    top: 5% !important;
    left: 83% !important;
  }
  #home-section .content {
    width: 70vw;
    height: 20vh;
    top: 45%;
    left: 20%;
  }
  #home-section .block {
    display: none;
  }
  .showCircles {
    height: 350px !important;
    max-height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 5%;
  }
}

@media only screen and (max-width: 600px) {
  #home-section {
    position: relative;
    height: 1200px;
    width: 600px;
    max-width: 600px;
  }
  #home-section .block {
    display: none;
  }
  #home-section .circle {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 260px;
    width: 250px;
    border-radius: 290px;
  }
  #home-section .content {
    width: 500px;
    top: 48%;
    left: 13%;
  }
  #home-section .content .text-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home-section .content .text-content p {
    font-size: 1.5rem;
  }
  .circles .img {
    width: 30px;
  }
  .showCircles {
    height: 80%;
    max-height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50%;
  }
  #home-section .circles {
    position: absolute;
    top: 10% !important;
    left: 105% !important;
  }
  #home-section .content .view-my-work-btn {
    font-size: 25px;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 800px;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 400px) {
  #home-section .content p {
    width: 90%;
  }
  #home-section .content .view-my-work-btn {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 0%;
  }
}
/*# sourceMappingURL=Home.css.map */