body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Lato', sans-serif;  */
  /* font-family: 'Montserrat', sans-serif !important; */
  /* color: #fff; */
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  
}
body a {
  color: '#fff' !important;
}
.fullWidthBanner .tech i {
  border-radius: 50px;
  /* padding: 8px 10px; */
  padding: 8px !important;
  margin-top: 0px;
  /* margin-left: 2%;
  margin-right: 2%; */
  margin-bottom: 8px;
  font-size: 1.3rem;
  background: #252934;
  /* background-color: #f4f4f4; */
  color: #f6004c;
  /* border: 1px solid red; */
  box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 8%);
}
.fullWidthBanner  .fa-1x {
  font-size: 3.5em !important;
}
.fullWidthBanner .tech h6{
  font-weight: bold;
  text-align: center;
  font-size: 12px;
}
.fullWidthBanner .dev-tools {
  display: flex;
  justify-content: space-around;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}