#home-footer{
    background-color: #373b69;
    height: 18vh;
    height: 200px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    width: 100%;
    max-width: 100vw;
    /* margin-top: 170px; */
    overflow: visible !important;
}
    #home-footer #main-footer{
        background-color: #1e242c;
        background-color: #1b242f;
        background-color: black;
        border-top: solid 1px #616161;
        padding-bottom: 28px;
        width: 100%;
        max-width: 100vw;
        height: 200px;
        z-index: 1000;
        overflow: visible !important;
    }
    
    #home-footer #main-footer button {
        position: relative;
        left: 50%;
        transform: translatex(-50%);
        bottom: 30px;
        padding: 8px 8px;
        background-color: #e31b6d;
        border: none;
        cursor: pointer;
    }
    #home-footer #main-footer .footer-container i {
        color: #fff;
        font-size: 1.4rem;
    }
    #home-footer #main-footer .footer-container {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
        width: 40%;
        margin: auto;
    }
    #home-footer #main-footer .footer-container .insta, .linked, .code, .git {
        border: 1px solid #252934;
        border-radius: 60px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        /* padding-top: -40px; */
        margin-top: 35px;
        background-color: #252934;
    }
    
    #home-footer #main-footer h5 {
        margin-top: 50px;
        color: #616161;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 0px;
    }

    @media only screen and (max-width: 500px){
        #home-footer{
            width: 100%;
            margin: auto;
            max-width: 500px;
        }
        #home-footer #main-footer .footer-container{
            width: 80%;
        }
    }